
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<link href="css/app.css"  rel="stylesheet"/>
	type="text/css">
<title>Spring Security Example</title>
</head>
<body class="security-app">
	<div class="details">
		<h2>Spring Security - JDBC Authentication</h2>
		<a href="http://www.programming-free.com/2016/01/spring-security-spring-data-jpa.html" class="button green small">Tutorial</a> 
		<a href="https://github.com/priyadb/SpringSecurityJdbcApp/archive/master.zip"
			class="button red small">Download</a>
	</div>

	<form name="f" th:action="@{/login}" method="post">

		<div class="lc-block">
			<div>
				<input type="text" class="style-4" name="username"
					placeholder="User Name" />
			</div>
			<div>
				<input type="password" class="style-4" name="password"
					placeholder="Password" />
			</div>
			<div>
				<input type="submit" value="Sign In" class="button red small" />
			</div>

				<div th:if="${param.error ne null}"  class="alert-danger">usario invalido.</div>


				<div th:if="${param.logout ne null}" class="alert-normal">has  cerrado sesion.</div>

		</div>
		<fieldset>
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		</fieldset>
	</form>

</body>
</html>
